<body>
    <header>
        <div class="header">
            <h1 class="title">Digital Library Administrator</h1>
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (click)="logout()" />
        </div>
    </header>
    <div class="card">
        <p-tabMenu class="menuItems" [model]="items" [(activeItem)]="activeItem"
            (activeItemChange)="onActiveItemChange($event)" />
    </div>
    <div *ngIf="activeItem?.label === 'Autori'" class="AddAuthorSection">
        <div class="card flex justify-content-center">
            <p-button class="AddAuthBut" (onClick)="showDialogAutor()" label="Adauga Autor Nou" />
            <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visibleAutor" [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-5">Update your information.</span>
                <div class="flex align-items-center gap-3 mb-3">
                    <label for="username" class="font-semibold w-6rem">Username</label>
                    <input pInputText id="username" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex align-items-center gap-3 mb-5">
                    <label for="email" class="font-semibold w-6rem">Email</label>
                    <input pInputText id="email" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex justify-content-end gap-2">
                    <p-button label="Cancel" severity="secondary" (onClick)="visibleAutor = false" />
                    <p-button label="Save" (onClick)="visibleAutor = false" />
                </div>
            </p-dialog>
        </div>
        <div class="AuthorsSection">
            <section class="card-section">
                <p-card *ngFor="let card of Authorcards" class="authorCards" [header]="card.header"
                    [subheader]="card.subheader">
                    <ng-template pTemplate="header">
                        <img alt="Card" class="CardImg" [src]="card.imageSrc" />
                    </ng-template>
                </p-card>
            </section>
        </div>
    </div>

    <div *ngIf="activeItem?.label === 'Carti'" class="AddBookSection">
        <div class="AddBookSection">
            <p-button class="AddAuthBut" (onClick)="showDialogBook()" label="Adauga Carte Noua" />
            <p-dialog class="AddModal" header="Edit Profile" [modal]="true" [(visible)]="visibleBook"
                [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-5">Update your information.</span>
                <div class="flex align-items-center gap-3 mb-3">
                    <label for="username" class="font-semibold w-6rem">Username</label>
                    <input pInputText id="username" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex align-items-center gap-3 mb-5">
                    <label for="email" class="font-semibold w-6rem">Email</label>
                    <input pInputText id="email" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex justify-content-end gap-2">
                    <p-button label="Cancel" severity="secondary" (onClick)="visibleBook = false" />
                    <p-button label="Save" (onClick)="visibleBook = false" />
                </div>
            </p-dialog>
        </div>
        <div class="BooksSection">
            <section class="card-section">
                <p-card *ngFor="let card of BookCards" class="bookCards" [header]="card.header">
                    <ng-template pTemplate="header">
                        <img alt="Card" class="CardImg" src="assets/header.jpeg" />
                    </ng-template>
                    <ng-template pTemplate="subheader">
                        <p class="author-list">{{ card.subheader }}</p>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p>{{ card.footer }}</p> <!-- Use card.footer instead of card.isbn -->
                    </ng-template>
                </p-card>
            </section>
        </div>
    </div>
</body>