<body>
    <header>
        <div class="header">
            <h1 class="title">Digital Library Administrator</h1>
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (click)="logout()" />
        </div>
    </header>
    <div class="card">
        <p-tabMenu class="menuItems" [model]="items" [(activeItem)]="activeItem"
            (activeItemChange)="onActiveItemChange($event)" />
    </div>
    <div *ngIf="activeItem?.label === 'Autori'" class="AddAuthorSection">
        <div class="card flex justify-content-center">
            <p-button class="AddAuthBut" (onClick)="showDialogAutor()" label="Adauga Autor Nou" />

            <p-dialog class="AddModal" header="Adauga Autor" [modal]="true" [(visible)]="visibleAutor"
                [style]="{ width: '25rem' ,height:'30rem' }">
                <div class="flex align-items-center gap-3 mb-3" id="marginBottom">
                    <label for="username" class="font-semibold w-6rem" style="margin-left: 22px;">Nume</label>
                    <input pInputText id="NumeAutor" [(ngModel)]="NumeAutorTxt" class="flex-auto" autocomplete="off"
                        style="margin-left: 20px;" />
                </div>
                <div class="flex align-items-center gap-3 mb-3" id="marginBottom">
                    <label for="username" class="font-semibold w-6rem">Prenume</label>
                    <input pInputText id="PrenumeAutor" [(ngModel)]="PrenumeAutorTxt" class="flex-auto"
                        autocomplete="off" style="margin-left: 20px;" />
                </div>
                <p-dropdown [options]="nationalitati" [(ngModel)]="selectedNationalitate"
                    optionLabel="numeNationalitate" placeholder="Nationalitate" />
                <div id="buttonsProfileEdit">
                    <p-button label="Cancel" severity="secondary" (onClick)="visibleAutor = false" />
                    <p-button label="Adaugare" (onClick)="AddAuthor()" />
                </div>
            </p-dialog>
        </div>
        <div class="AuthorsSection">
            <section class="card-section">
                <p-card [style]="{ width: '250px' ,height:'300px' }" *ngFor="let card of Authorcards"
                    class="authorCards" [header]="card.header" [subheader]="card.subheader">
                    <ng-template pTemplate="header">
                        <img alt="Card" class="CardImg" [src]="card.imageSrc" />
                    </ng-template>
                </p-card>
            </section>
        </div>
    </div>

    <div *ngIf="activeItem?.label === 'Carti'" class="AddBookSection">
        <div class="AddBookSection">
            <p-button class="AddAuthBut" (onClick)="showDialogBook()" label="Adauga Carte Noua" />
            <p-dialog header="Adauga Carte" [modal]="true" [(visible)]="visibleBook"
                [style]="{ width: '25rem',height:'30rem' }">
                <div class="flex align-items-center gap-3 mb-3" id="marginBottom">
                    <label for="text" class="font-semibold w-6rem">Titlu</label>
                    <input pInputText id="TitluCarte" [(ngModel)]="TitluTxt" class="flex-auto" autocomplete="off" />
                </div>
                <div class="flex align-items-center gap-3 mb-5" id="marginBottom">
                    <label for="text" class="font-semibold w-6rem">Autori</label>
                    <p-multiSelect id="AutoriSelect" [options]="Authors" [(ngModel)]="selectedAuthors"
                        optionLabel="fullName" placeholder="Autor" [style]="{ minWidth: '15.5rem' }" />
                </div>
                <div id="buttonsProfileEdit">
                    <p-button label="Cancel" severity="secondary" (onClick)="this.visibleBook =false" />
                    <p-button label="Adaugare" (onClick)="AddBook()" />
                </div>
            </p-dialog>
        </div>
        <div class="BooksSection">
            <section class="bookcard-section ">
                <p-card [style]="{ width: '260px' ,height:'400px' }" *ngFor="let card of BookCards" class="bookCards"
                    [header]="card.header">
                    <ng-template pTemplate="header">
                        <img alt="Card" class="CardImg" src="assets/header.jpeg" />
                    </ng-template>
                    <ng-template pTemplate="subheader">
                        <p class="author-list">{{ card.subheader }}</p>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p>{{ card.footer }}</p>
                    </ng-template>
                </p-card>
            </section>
        </div>
    </div>
</body>