<body>

    <div class="header">
        <h1 class="title">Digital Library</h1>
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (click)="logout()" />
    </div>
    <section class="search-section">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Cautare Titlu" />
        </p-iconField>
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Cautare Autor" />
        </p-iconField>
        <div class="IsbnNat">
            <p-inputOtp id="ISBN" [(ngModel)]="CodeValue" [integerOnly]="true" [length]="13" />
            <div class="card flex justify-content-center">
                <p-multiSelect id="NationalitateSelect" [options]="cities" [(ngModel)]="selectedCities"
                    optionLabel="name" placeholder="Select Cities" />
            </div>

        </div>
    </section>
    <hr>
    <section class="card-section">
        <p-card *ngFor="let card of cards" class="bookCards" header="Book Title" subheader="Author">
            <ng-template pTemplate="header">
                <img alt="Card" class="CardImg" src="assets/header.jpeg" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <ng-template pTemplate="footer">

            </ng-template>
        </p-card>
    </section>
</body>