<body>
    <div class="header">
        <h1 class="title">Digital Library</h1>
        <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (click)="logout()" />
    </div>
    <section class="search-section">
        <p-autoComplete id="searchBar" [(ngModel)]="selectedItem" placeholder="Titlu carte"
            (completeMethod)="search($event)" />
        <p-autoComplete id="searchBar" [(ngModel)]="selectedItem" placeholder="Nume Autor"
            (completeMethod)="search($event)" />
        <div class="IsbnNat">

            <p-inputOtp id="ISBN" [(ngModel)]="CodeValue" [integerOnly]="true" [length]="13" />
            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>

        </div>
    </section>
    <hr>
    <section class="card-section">
        <p-card *ngFor="let card of cards" class="bookCards" header="Book Title" subheader="Author">
            <ng-template pTemplate="header">
                <img alt="Card" class="CardImg" src="assets/header.jpeg" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <ng-template pTemplate="footer">

            </ng-template>
        </p-card>
    </section>
</body>